body{
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.main-header{
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #f3f7f9;
}

.user-navigation,
.user-login,
.main-navigation ul,
.footer-navigation,
.footer-menu{
    list-style: none;
}

.user-login{
    display: flex;
    justify-content: space-between;
}

.user-navigation a,
.main-navigation a,
.footer-navigation a{
    color: #ffffff;
}

.header-top-wrapper{
    display: flex;
    width: 100%;
    background-color: #293449;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.user-navigation{
    display: flex;
    justify-content: space-between;
    width: 433px;
    font-size: 17px;
    line-height: 18px;
}

.search{
    margin-right: auto;
}

.logo{
    margin-top: 0;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 11px;
    border-bottom: 5px solid #d6656e;
    background-color: #ee3643;
}

.logo:hover{
    background-color: #ca2c37;
}

.logo:active{
    background-color: #ee3643;
}


.user-navigation li:last-child a{
    font-size: 17px;
    line-height: 18px;
    background-color: #63a63e;
}

.user-navigation li:active a{
    background-color: #161d29;
}

.user-navigation li:hover a{
    background-color: #212a3a;
}

.user-navigation li a:active{
    color: rgba(255, 255, 255, 0.6);
}

.user-navigation li:last-child:hover a{
    background-color: #5fbb2d;
}

.user-navigation li:last-child:active a{
    background-color: rgba(255, 255, 255, 0.5);
}
.search input[type="search"] {
	color: #fff;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	background-color: #293449;
}

.search input[type="search"]:hover {
	background-color: #212a3a;
}
.search input[type="search"]:focus {
	background-color: white;
	color: black;
}
.info p{
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    text-transform: none;
}

.info-block{
    display: flex;
    justify-content: space-between;
}

.head-tel a{
    padding-left: 42px;
    padding-right: 50px;
    font-size: 21px;
    line-height: 21px;
    border: 4px solid white;
    color: #ee3643;
}

.head-adress{
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.login{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.reg{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-login li a:hover{
   color: #ee3643;
}

.user-login li a:active{
    color:rgba(255, 255, 255, 0.3);
}


.main-navigation ul{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #32425c;
}

.main-navigation a:hover{
    background-color: #293449;
}

.main-navigation a:active{
    background-color: rgba(255, 255, 255, 0.5);
}

.store-offers h3{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.store-offers a{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.materials{
    background-color: #ffbf47;
}

.materials a{
    background-color: #e5ac38;
}

.store-offers a:hover{
    background-color: #cccccc;
}

.store-offers a:active{
    background-color: #b2b2b2;
}

.instrument{
    background-color: #3bbce3;
}

.instrument a{
    background: #35a9cc;
}

.technics{
    background-color: #dc91d8;
}

.technics a{
    background-color: #c682c2;
}

.discounts{
    background-color: #8ed78f;
}

.discounts a{
    background-color: #80c180;
}

.delivery{
    background-color: #ffc047;
}

.delivery a{
    background-color: #e5ac40;
}

.slider h3{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.slider p{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;

    color: #ffffff;
}

.button{
    text-transform: uppercase;
    color: #ffffff;

    background-color: #ee3643;
}

.buttonr:hover{
    background-color: #ca2c37;
}

.button:active{
    background-color: #ba2732;
}

.slide-1{
    width: 620px;
    height: 270px;
    background-image: url(../img/drill.jpg);
    background-repeat: no-repeat;
}

.slide-2{
    width: 620px;
    height: 270px;
    background-image: url(../img/hammer-drill.jpg);
    background-repeat: no-repeat;
}

.popular-goods h2,
.popular-brands h2{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;

    color: #32425c;
    background-color: #f9f5f0;
}

.brand-name a{
    display: block;
    border: 1px solid#ccc;
}

.services{
    background-color: #f4f8f9;
}

.services h2{
    font-family: "PTSans",Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.services p{
    font-family: "PTSans",Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    color: #000000;
}

.switcher-button{
    font-family: "PTSans",Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    border: 1px solid;

    background-color: #32425c;
}

.switcher-button:hover{
    background-color: #293449;
}

.switcher-button:focus{
    border: none;
    color: #32425c;
    background-color: #ffffff;
}

.switcher-title{
    font-family: "PTSans",Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.switcher-text{
    font-family: "PTSans",Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: none;
    color: #000000;
}

.index-colums{
    display: flex;
    justify-content: space-between;
}

.about-us{
    
}

.about-us ul{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    list-style: none;
}

.about-us h1{
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}
.about-us p{
    font-family: "PTSans",Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}


.about-us a{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.techno-contacts{
    width: 300px;
   margin-left: auto;
}

.techno-contacts h2{
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
}

.techno-contacts p{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-transform: none;

    background-color: #ffffff
}

.techno-contacts .button{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.footer{
    display: block;
    width: 100%;
    background-color: #32425c;
}

.footer-container{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #32425c;
}

.footer-container a:hover{
    border-bottom: 1px solid #ffffff;
}

.footer-container a:active{
    color: rgba(241, 245, 247, 0.5)
}

.footer-navigation{
    display: flex;
    justify-content: space-between;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-right{
    display: flex;
    flex-direction: column;
    width: 615px;
}

.footer-menu a,
.footer-bottom a{
    color: #ffd180;
}

.footer-menu a:hover,
.footer-bottom a:hover{
    border-bottom: 1px solid #ffd180;
}

.footer-menu a:active{
    color: rgba(255, 218, 150, 0.1)
}

.footer-bottom ul{
    list-style: none;
}

.footer-bottom{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.footer-bottom a:active{
    color: #ee3643;
}

.footer-end{
    display: flex;
    justify-content: space-between;
}

.modal-1{
    display: none;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}

.modal-2{
   display: none;
}

.catalog-login{
    display: flex;
    list-style: none;
}

.catalog-login a{
    color: #32425c;
    border-bottom: 1px solid #32425c;
}

.catalog-login a:hover{
    color: #ee3643;
    border-bottom: 1px solid #ee3643;
}

.catalog-login a:active{
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.user-block a{
    color: #000000;
}

.user-block a:active{
    color: rgba(0, 0, 0, 0.3)
}

.breadcrumbs{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    list-style: none;

    background-color: #ffffff;
}

.breadcrumbs a{
    color: #000000;
}

.sorting,
.range-filter,
.range-slider{
    background-color: #f2f6f8;
}

.sorting ul{
    list-style: none;
}

.sorting h2,
.range-filter{
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.sorting a{
    color:rgba(0, 0, 0, 0.3);
    border-bottom: 2px dotted #ee3643;
}

.sorting a:hover{
    color: #000000;
    border-bottom: 2px solid #ee3643;
}

.sorting a:focus,{
    color: #ee3643;
    border: none;
}

.sorting-arrows li:first-child a{
    width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.3);
}

.sorting-arrows li:last-child a{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgba(0, 0, 0, 0.3);
}

.sorting-arrows li:first-child a:hover{
    border-bottom: 10px solid #000;
}

.sorting-arrows li:last-child a:hover{
    border-top: 10px solid #000;
    border-bottom: none;
}

.sorting-arrows li:first-child a:focus{
    border-bottom: 10px solid #ee3643;
}

.sorting-arrows li:last-child a:focus{
    border-top: 10px solid #ee3643;
}

.filter-firm{
    font-family: "PTSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;

    list-style: none;
}

.filter-firm fieldset{
    border: none;
}


.filter-firm legend{
    font-size: 17px;
    line-height: 30px;
    color: #000000;
}


.filter-input:disabled + label{
    color:#000000;
    opacity: 0.4;
}

.filter-power{
    font-family:  "PTSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;

    list-style: none;
}

.filters fieldset{
    border: none;
}

.filter-button{
    width: 140px;
    height: 38px;
    text-align: center;
    vertical-align: middle;

    font-family:  "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-transform: uppercase;

    background-color: #ffffff;
}
.filter-button:hover{
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.filter-button:active{
    border: 2px solid red;
}

.catalog-list{
    list-style: none;
}

.catalog-item{
    font-weight: 600;
    text-align: center;
    font-family: 'PT Sans', Arial, sans-serif;
    color:black;
    line-height: 20px;
    border: 1px solid#ccc;
}

.catalog-item:hover{
    display: block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.price{
    font-size:17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
}

.del-price{
    font-size:17px;
    line-height: 18px;
    color: #999999;
    background-color: #ffffff;
}

.buy{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    border-bottom: 3px solid #8ec073;
    background-color: #63a63e;
}

.buy:hover{
    background-color: #5fbb2d;
    border-bottom: 3px solid #8ec073;
}

.buy:active{
    background-color: #518534;
}

.actions .bookmark{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #32425c;
    border: 3px solid #5fbb2d;
    border-radius: 3px;
    background-color: #ffffff;
}

.bookmark:hover{
    color: #32425c;
    border-color: #32425c;
}

.bookmark:active{
    color: rgba(50, 66, 92, 0.3);
    border-color: rgba(50, 66, 92, 0.3);
}

.pagination-list{
    list-style:none;
}

.pagination-item a{
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    border: 1px solid;
    border-radius: 1px;
    background-color: #ffffff;
}

.pagination-item-current a{
    color: #ffffff;
    background-color: #ee3643;
}

.about-drills{
    font-family: "PTSans", Arial, sans-serif;
    color: #000000;
    background-color: #f2f6f8; 
}

.about-drills h2{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-drills p{
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
}

.footer-logo{
    display: block;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 5px solid #a13343;

    background-color: #ee3643;
}

.footer-logo:hover{
    background-color: #ca2c37;
}

.footer-social ul{
    display: flex;
    list-style: none;
}

.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social-button:hover,
.social-button:active{
    background-color: #ed3643;
}

.footer-logo:active{
    background-color: #ee3643;
}

.modal-3{
    display: none;
}